# Python
__pycache__/
*.py[cod]
*.ipynb

# Cython Extensions
*.so
*.cpp
*.c
*.DS_Store

# Data files
sources/

# Packaging
*.egg-info/
*.egg

env/
build/
dist/

# Sphinx documentation
docs/_build/

#IDEA config files
.idea/
