# Python
__pycache__/
*.py[cod]
*.ipynb

# Cython Extensions
*.so
*.cpp
*.c

# Data files
data/

# Packaging
*.egg-info/
*.egg

env/
build/

# Sphinx documentation
docs/_build/

#IDEA config files
.idea/
