dl.py {
    background-color: #f8f8f8;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 2px;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


table {
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
