dl.py {
    background-color: #f8f8f8;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 2px;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 5px;
    /* padding-bottom: 12px; */
}


table {
    table-layout: fixed;
    text-align: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}
